<!DOCTYPE html>
<html>
<head>
    @{ 
        ViewData["sitename"] = "ACADA ACDEMY";
    }
    <meta charset="utf-8" />
    <title>@ViewData["sitename"] - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
    {
        <img src="@Url.Content("~/img/passport1.png")" alt="User Head Shot" class="headshot" />
        <span id="username">@User.Identity.Name</span>
    }

    <div class="list-group">
        <a class="list-group-item" asp-controller="App" asp-action="Index"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
        <a class="list-group-item" asp-controller="App" asp-action="About"><i class="fa fa-info fa-fw" aria-hidden="true"></i>&nbsp; About Us</a>

        <a class="list-group-item" asp-controller="App" asp-action="Contact"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;Contact Us</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="list-group-item" asp-controller="Adminstration" asp-action="AddReg"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>&nbsp;Register Students</a>
            <a class="list-group-item" asp-controller="Adminstration" asp-action="AddCourse"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Manage Courses</a>
            <a class="list-group-item" asp-controller="Adminstration" asp-action="AddSession"><i class="fa fa-calendar fa-fw" aria-hidden="true"></i>&nbsp;Manage Sessions</a>
            <a class="list-group-item" asp-controller="Adminstration" asp-action="ListAllAcadaUser"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp;Manage Users</a>
            <a class="list-group-item" asp-controller="Adminstration" asp-action="CreateRole"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp;Manage Roles</a>
            <a class="list-group-item" asp-controller="Account" asp-action="Logout"><i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Sign Out</a>
        }

    </div>
    </div>

    <div id="wrapper" class="container-fluid">
        <nav class="nav navbar-inverse">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-6 col-xs-8">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <button id="sidetog" class="btn btn-primary">
                                    <i class="fa fa-angle-left"></i>
                                </button>
                                <span class="sitename">@ViewData["sitename"]</span>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#TopNavbar">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                
                    <div class="collapse navbar-collapse" id="TopNavbar">
                        <ul class="nav navbar-nav navbar-right">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Account" asp-action="Logout"><i class="fa fa-power-off"></i> Sign Out</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-user"></i> Register</a></li>
                                <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> Login</a></li>
                            }


                        </ul>
                    </div>
                </div>

            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer">
        <p></p>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"> </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <environment names="Development">
        <script type="text/javascript" src="~/js/site.js"></script>
    </environment>
    <environment names="Production,Staging">
        <script type="text/javascript" src="~/lib/_app/site.js"></script>
    </environment>

    @RenderSection("scripts", false)



</body>
</html>

