@model RoleViewModel
@inject RoleManager<IdentityRole> roleManager;
@{
    ViewData["Title"] = "Create Roles";
    int counter = 0;
}


    <div class="display-flex">
        <div class="row div-form">
            <h3 class="page-title">@ViewData["Title"]</h3>
            <h6>Create a new role.</h6>
            <div class="">
                <form asp-controller="Adminstration" asp-action="CreateRole" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RoleName"></label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-default">Create</button>
                </form>
            </div>
        </div>
        <br /><br />
         <div class="row div-table">
              <h3 class="page-title">List of Roles</h3>
              <h6>Edit or delete role using the manage record column</h6>
              <br />
              <div class="">
                  <table class="table table-hover table-striped table-bordered table-borderless">
                          <thead>
                              <tr>
                                  <td><b> Number</b></td>
                                  <td><b>Role Name</b></td>
                                  <td><b>Manage Record</b></td>
                              </tr>
                          </thead>
                          <tbody>

                              @foreach (var role in roleManager.Roles)
                              {
                                  counter += 1;
                                  <tr>
                                      <td>@counter</td>
                                      <td>@role.Name</td>
                                      <td>
                                          <form asp-action="DeleteRole" asp-controller="Adminstration" asp-route-id="@role.Id" method="post">
                                              <a class="btn btn-primary" asp-controller="Adminstration" asp-action="EditRole" asp-route-id="@role.Id">Edit</a>
                                              &nbsp; | &nbsp;
                                              <button class="btn btn-danger" type="submit">Delete</button>

                                          </form>
                                      </td>
                                  </tr>
                              }
                          </tbody>
                   </table>
              </div>
         </div>

    </div>
