@model EditUserViewModel
@inject RoleManager<IdentityRole> roleManager;

@{
    ViewData["Title"] = "Edit Users";

}


<div class="display-flex">
    <div class="row div-form">
        <h3 class="page-title">@ViewData["Title"]</h3>
        <h6>Edit a user.</h6>
        <div class="">
            <form asp-controller="Adminstration" asp-action="EditUser" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="custom-select mr-sm-2 selectBox">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>

                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Update</button>
            </form>
        </div>
    </div>
    <div class="row div-table">
             <h3 class="page-title">Roles</h3>
            <h6>Edit or delete session using the manage record column</h6>
            <br />  
              <div class="">
                <table class="table table-hover table-striped table-bordered table-borderless">
                    <thead>
                        <tr>
                            <th><b>Role Name</b></th>                            
                            <th><center><b>Manage Record</b></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Roles.Any())
                        {
                            foreach (var role in Model.Roles)
                            {
                                <tr>
                                    <td>@role</td>
                                    <td>Delete</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td><h5>None at this Moment</h5></td>
                            </tr>
                        }
                    </tbody>                    
                </table>

                <div class="row div-form">
                    <div class="">
                        <form asp-action="AddUserInRole" asp-controller="Adminstration" method="post">
                            <div class="form-group">
                                <label asp-for="Roles"></label>
                                <select asp-for="Roles" class="custom-select mr-sm-2 selectBox" name="roleStr">
                                    <option value="">Please Select</option>
                                    @foreach (var role in roleManager.Roles)
                                    {
                                        <option value="@role.Name">@role.Name</option>

                                    }
                                </select>
                            </div>                           
                            <input type="hidden" value="@Model.Id" name="UserId" />
                            <button type="submit" class="btn btn-default">Add Roles</button>
                        </form>
                    </div>
                </div>

            </div>
        
    </div>
</div>


